*.d
*.o
*.so*

*.rej
*.orig

tools/convpic/convpic
tools/crtfont/crtfont
tools/genfont/genfont
tools/lcdtestpattern/lcdtestpattern
tools/showpic/showpic
tools/showtext/showtext
tools/skintest/skintest

git-*
go_*

depcomp
config.sub
install-sh
INSTALL
missing
compile
config.guess
config.hin*
configure
aclocal.m4
Makefile.in
m4
ltmain.sh

